[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="mysql-dev.pavanbalubadi3017.online"
ExecStart=bin/bash /app/run.sh
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target
